body, html {
    box-sizing: border-box;
}

body {
    color: #ffffff;
    background: url("img/dark_mosaic.png");
    background-attachment: fixed;
}

#searchBar {
    border: 1px solid black;
    border-style: inset;
    color: #FC354C;
}

#searchBar:focus {
    outline: none;
}

button:focus {
    outline: none;
}

.btn:focus {
    outline: none;
}

.container {
    margin: 0 auto;
}

.adBackground {
    margin: 5px;
    background-color: rgba(0, 255, 255, 0.5);
    border-radius: 10px;
    border: 1px solid white;
}

#logo1 {
    font-size: 2em;
    color: orangered;
    font-style: italic;
    position: relative;
}

#logo2 {
    font-size: 2em;
    position: relative;
    top: -40px;
    left: 80px;
}

#logoBack {
    margin-left: 150px;
    width: 200px;
    height: 200px;
    font-size: 3em;
    display: inline-block;
    position: absolute;
    /*background-color: rgba(0, 150, 150, 0.4);*/
    border-radius: 50%;
}

.customButton {
    width: 75px;
    height: 25px;
}

#profileName {
    color: #FC354C;
    font-style: italic;
}