body, html {
    box-sizing: border-box;
}

body {
    color: #ffffff;
    background-color: #000000;
}

.container {
    margin: 0;
}

.adBackground {
    margin: 5px 0px;
    background-color: rgba(0, 255, 255, 0.5);
    border-radius: 10px;
    border: 1px solid white;
}