body, html {
    box-sizing: border-box;
}

body {
    color: #ffffff;
    background: url("img/px_by_Gre3g.png");
    background-attachment: fixed;
}

#searchForm {
    color: darkslategrey;
    position: relative;
    top: 13px;
    left: 100px;
}

.navbar-brand {
    position: absolute;
}

#searchBar {
    border: 1px solid black;
    border-style: inset;
    color: #FC354C;
    border-radius: 8px;
}

#searchBar:focus {
    outline: none;
}

button:focus {
    outline: none;
}

input:focus {
    outline: none;
}

.btn:focus {
    outline: none;
}

form:focus {
    outline: none;
}

.container {
    margin: 0 auto;
}

.adBackground {
    margin: 5px;
    background-color: rgba(0, 255, 255, 0.5);
    border-radius: 10px;
    border: 1px solid white;
}

#logo1 {
    font-size: 2em;
    color: #FC354C;
    font-style: italic;
    position: relative;
    float: left;
}

#logo2 {
    font-size: 2em;
    position: relative;
    top: -40px;
    left: 80px;
    float: left;
}

#logoBack {
    margin-left: 150px;
    width: 200px;
    height: 200px;
    font-size: 3em;
    display: inline-block;
    position: absolute;
    border-radius: 50%;

}

.customButton {
    width: 75px;
    height: 25px;
}

#profileName {
    color: #FC354C;
    font-style: italic;
}

#username {
    width: 25%;
}

#password {
    width: 25%;
}

#searchBar {

}

.navbar-default {
    background-color: transparent;
    border: none;
    font-family: 'Raleway', sans-serif;
}

#splashFeatures {
    font-family: 'Varela Round', sans-serif;
    margin-left: 46%;
    font-size: 270%;
    margin-top: 22%;
}

#mADness {
    color: #FC354C;
    font-size: 110%;
}

.splashLi {
    list-style:none;
    position: relative;
    cursor: pointer;
    z-index:0;
    right:200%;
}

.form-group {
    text-align: center;
}

.form-control {
    margin: auto;
}

.loginButton {
    margin-left: 42%;
    width: 15%;
    border-radius: 15%;
}
